/* line 7, ../sass/HomePage.scss */
html, body {
  height: 100%;
}
@media screen and (max-width: 768px) {
  /* line 7, ../sass/HomePage.scss */
  html, body {
    background-color: #222;
  }
}
@media screen and (min-width: 769px) {
  /* line 7, ../sass/HomePage.scss */
  html, body {
    background-image: url("Currents.jpg");
  }
}

/* line 17, ../sass/HomePage.scss */
.navbar-inverse {
  border-color: #222;
  color: #9d9d9d;
}

/* line 21, ../sass/HomePage.scss */
.topContainer {
  padding-top: 50px;
  min-height: 100%;
  color: #9d9d9d;
  background-color: #222 !important;
}

/* line 29, ../sass/HomePage.scss */
.week {
  margin-left: 15px;
}

/* line 32, ../sass/HomePage.scss */
.about {
  border-bottom: 5px dotted;
}

/* line 37, ../sass/HomePage.scss */
.allAlbums {
  border-bottom: 5px dotted;
  padding-bottom: 10px;
}

/* line 42, ../sass/HomePage.scss */
.suggestions h2 {
  text-align: center;
}
/* line 45, ../sass/HomePage.scss */
.suggestions h5 {
  text-align: center;
}

/* line 49, ../sass/HomePage.scss */
.albumTitle {
  margin-left: 20px;
}

/* line 52, ../sass/HomePage.scss */
.albumImage {
  width: 280px;
  height: 280px;
}

/* line 59, ../sass/HomePage.scss */
.summary p {
  font-size: 18px;
}
/* line 62, ../sass/HomePage.scss */
.summary h4 {
  text-align: center;
}

/* line 66, ../sass/HomePage.scss */
.albumLinks {
  border-left-color: #9d9d9d;
  border-left: solid 1px;
}

/* line 70, ../sass/HomePage.scss */
.links {
  font-size: 30px;
}

/* line 75, ../sass/HomePage.scss */
.topList {
  height: 200px;
  width: 200px;
}

/* line 83, ../sass/HomePage.scss */
.tracklist {
  background-color: #222;
}
/* line 84, ../sass/HomePage.scss */
.tracklist h3 {
  text-align: center;
}
/* line 87, ../sass/HomePage.scss */
.tracklist h4 {
  text-align: center;
}

/* line 92, ../sass/HomePage.scss */
#disqus_thread {
  background-color: #222;
}

/* line 99, ../sass/HomePage.scss */
.discussionAlbum {
  text-align: center;
}
/* line 101, ../sass/HomePage.scss */
.discussionAlbum .discussionAlbumImage {
  height: 400px;
  width: 100%;
}
