//all
$textMain: #9d9d9d;
$backgroundMain: #222;
$newAbout:#FF6666;



html, body{
	
	height: 100%;
	@media screen and (max-width: 768px) {

   background-color: $backgroundMain;
  }
@media screen and (min-width: 769px){
background-image: url("teendreambackground.jpg")
}
}
.navbar-inverse{
		border-color: $backgroundMain;
		color:$textMain;
	}
.topContainer{ 
	border-radius: 50px;
	padding-top: 50px;

	min-height: 100%;
	color:$textMain; 
	background-color: $backgroundMain !important;
}
//HomePage specific
.week{
	margin-left: 15px;
}
.about{
	border-bottom: 5px dotted;
	.newAbout{
		color: $newAbout;

	}
	.noBullet{
		list-style-type: none;
	}

}
.allAlbums{
	border-bottom: 5px dotted;
	padding-bottom: 10px;
}
.suggestions{
	h2{
		text-align: center;
	}
	h5{
		text-align: center;
	}
}
.albumTitle{
	margin-left: 20px;
}
.genre{
	margin-left: 30px;
}
.albumImage{
	width: 280px;
	height: 280px;
}
.summary{

	
	p{
		font-size: 18px;
	}
	h4{
		text-align: center;
	}
	h2{
		text-align: center;
	}
}
.albumLinks{
	border-left-color: $textMain;
	border-left: solid 1px;
}
.links{
	font-size: 30px;
}

//lastFM Page Specific
.topList{
	height:200px;
	width:200px;

}
.mattPic{
	height:150px;
	width: 150px;
}


//discussionPage
.tracklist{
	h3{
		text-align: center;
	}
	h4{
		text-align: center;
	}
	background-color: $backgroundMain;
}
#disqus_thread{
	background-color: $backgroundMain;
	
	

}


.discussionAlbum{
	height:600px;
	text-align: center;
	.discussionAlbumImage{
		height:90%;
		width:100%;
	}
}